@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 345 74% 57%;

    --card: 0 0% 100%;
    --card-foreground: 345 74% 57%;

    --popover: 0 0% 100%;
    --popover-foreground: 345 74% 57%;

    --primary: 345 74% 57%;              /* deep purple */
    --primary-foreground: 0 0% 98%;

    --secondary: 11 68% 49%;             /* golden yellow */
    --secondary-foreground: 0 0% 100%;

    --muted: 44 100% 96%;                /* soft gold background */
    --muted-foreground: 0 12% 22%;       /* dark gray text */

    --accent: 44 68% 49%;                /* golden accent */
    --accent-foreground: 345 74% 57%;

    --destructive: 0 75% 45%;            /* red if needed */
    --destructive-foreground: 0 0% 98%;

    --border: 345 74% 57%;
    --input: 44 68% 95%;
    --ring: 345 74% 57%;
  }

  .dark:root {
     --background: 0 0% 100%;
    --foreground: 345 74% 57%;

    --card: 0 0% 100%;
    --card-foreground: 345 74% 57%;

    --popover: 0 0% 100%;
    --popover-foreground: 345 74% 57%;

    --primary: 345 74% 57%;              /* deep purple */
    --primary-foreground: 0 0% 98%;

    --secondary: 44 68% 49%;             /* golden yellow */
    --secondary-foreground: 0 0% 100%;

    --muted: 44 100% 96%;                /* soft gold background */
    --muted-foreground: 0 12% 22%;       /* dark gray text */

    --accent: 44 68% 49%;                /* golden accent */
    --accent-foreground: 345 74% 57%;

    --destructive: 0 75% 45%;            /* red if needed */
    --destructive-foreground: 0 0% 98%;

    --border: 345 74% 57%;
    --input: 44 68% 95%;
    --ring: 345 74% 57%;
  }
}

@layer components {
  .signUpFormText {
    @apply text-base xs:text-lg font-medium mb-1
  }

  .signUpInputs {
    @apply !rounded-lg
  }

  .signUpInputs_Focused {
    @apply !border-primary !border-2
  }
}
